[submodule "third_party/CUT"]
	path = third_party/CUT
	url = https://github.com/taesungp/contrastive-unpaired-translation.git
[submodule "third_party/xai-gan"]
	path = third_party/xai-gan
	url = https://github.com/vin-nag/XAI_GAN.git
